#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* Input Field & Button, Filter & Title */

.titleSearchComponent {
    max-width: 100%;
}

.titleCard {
    color: #fff;
    background: #3E48FF;
    background: linear-gradient(to right, #1064ff 25%, #18c9ff 60%);
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem;
}

.titleCardText {
    font-size: 3.5rem;
    text-shadow: 3px 2px 2px #000000;
}

.inputButtonSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    align-self: center;
}

.inputField {
    padding: 1rem;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    transition: 0.5s ease;
}

.inputField:hover {
    border-color: #fff;
}

.submitFilterButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
}

/* Submit Button */
.buttonSubmit {
    width: 40%;
    margin: 0;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1em;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: 0.5s ease;
}

.buttonSubmit:hover {
    border-color: #fff;
}

/* Select and Options */
.filterSelect {
    width: 40%;
    margin: 0;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1rem !important;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: 0.5s ease;
}

.filterSelect:hover {
    border-color: #fff;
}

/* Card Results */
.cardResults {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cardSingle {
    background-color: #35353554;
    border: 3px solid #505050;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1.2rem;
    margin: 1.5rem;
    border-radius: 20px;
}

.reference {
    color: #ffffffc0;
    background-color: #1b1b1bd3;

    font-size: 0.9rem;
    padding: 0.3rem;

    width: 100%;
    position: fixed;
    bottom: 0;
}

@keyframes appear {
    0%   {opacity: 0%;}
    25%  {opacity: 0%;}
    50%  {opacity: 25%;}
    100% {opacity: 100%;}
}

.invalidEntry {
    color: #ff7c7cda;
    animation-name: appear;
    animation-duration: 0.8s;
}

/* For Mobile */
@media (max-width: 768px) {

    .titleSearchComponent {
        min-width: 80%;
    }
    /* Title Card */
    .titleCard {
        margin: 1rem;
        padding: 0.75rem;
        max-width: 100%;
        margin: 0;
        margin-top: 2rem;

        align-self: center;
    }

    .titleCardText {
        font-size: 1.5rem;  
        text-align: center;
    }

    /* Input and Button Section */
    .inputButtonSection {
        width: 100%;
        flex-direction: column;
    }

    .inputField {
        width: 95%;
        max-height: 50%;
        margin-bottom: 1rem;
        padding: 0.6rem;
        margin-top: 1rem;
        font-size: 1rem;
    }

    .submitFilterButtons {
        width: 80%;
        max-height: 50%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Submit Button */
    .buttonSubmit {
        /* width: 48%; */
        margin-bottom: 0;
        padding: 0.8rem;
    }

    /* Select Dropdown */
    .filterSelect {
        /* width: 48%; */
        padding: 0.8rem;
    }

    /* Card Results */
    .cardResults {
        flex-direction: column;
        align-items: center;
        max-width: 100dvw;
    }

    .cardSingle {
        width: 50%;
        height: fit-content;
        margin: 1rem 0;
        padding: 0.25rem 2rem;
    }

    /* Card Title */
    .cardTitle {
        font-size: 1.2rem;
    }

    /* Rarity */
    .rarity {
        font-size: 0.9rem;
        padding: 0.3rem;
    }

    /* Invalid Entry */
    .invalidEntry {
        font-size: 0.75rem;
        padding: 0.25rem;
        max-width: 75%;
    }

    /* Loading */
    .loading {
        font-size: 1.2rem;
    }

    .reference {
        color: #ffffffc0;
        background-color: #1b1b1bd3;
    
        font-size: 0.7rem;
        padding: 0.1rem;
    
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}
