
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
}

/* Input Field & Button & Title */

.titleCard {
    color: #fff;
    background: #3E48FF;
    background: linear-gradient(to right, #3E48FF 0%, #FF8BDA 65%);
    border-radius: 20px;

    padding: 1rem;
    margin: 2rem;
}

.titleCardText {
    font-size: 3.5rem;
    text-shadow: 3px 2px 2px #000000;
}

.inputButtonSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;

    width: 80%;

    align-self: center;
}

.inputField {
    padding: 0.6rem;
    margin: 0;
    width: 70%;

    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    
    transition: 0.5s ease;
}

.inputField:hover {
    border-color: #fff;
}

.buttonSubmit {
    margin: 0;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 7.5%;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    
    transition: 0.5s ease;
}

.buttonSubmit:hover {
    border-color: #fff;
}


/* Card */

.cardResults {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cardSingle {
    background-color: #35353554;
    border: 3px solid #505050;

    display: flex;
    flex-direction: column;

    width: fit-content;
    padding: 1rem;
    margin: 1.5rem;

    border-radius: 20px;
}

/* Card Name */
.cardTitle {
    padding: 0;
    margin: 1rem 0 0 0;

    color: #fff;
}

/* Rarity */
.rarity {
    /* background-color: #000; */
    
    align-self: center;

    width: fit-content;
    padding: 0.5rem;
}

/* Price */
.price {
    color: white;
}

.priceNull {
    color: #ff3030;
}

/* Invalid Entry */

.invalidEntry {
    color: #ff3a20be;
    font-style: italic;
}

/* Loading */

.loading {
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}



/* For Mobile */

@media (max-width: 768px) {
    /* Title Card */
    .titleCard {
        margin: 1rem;
        padding: 0.75rem;
        width: fit-content;
    }

    .titleCardText {
        font-size: 1.6rem;  
        text-align: center;
    }

    /* Input and Button Section */
    .inputButtonSection {
        flex-direction: column;
        width: 100%;
    }

    .inputField {
        width: 90%;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .buttonSubmit {
        width: 95%;
        padding: 0.8rem;
    }

    /* Card Results */
    .cardResults {
        flex-direction: column;
        align-items: center;
        max-width: 100dvw;
    }

    .cardSingle {
        max-width: 90%;
        margin: 1rem 0;
        padding: 1rem;
    }

    /* Card Title */
    .cardTitle {
        font-size: 1.2rem;
    }

    /* Rarity */
    .rarity {
        font-size: 0.9rem;
        padding: 0.3rem;
    }

    /* Invalid entry */
    .invalidEntry {
        font-size: 0.75rem;
        padding: 0.25rem;
    }

    /* Loading */
    .loading {
        font-size: 1.2rem;
    }
}